body {
  font-family: sans-serif;
  background: #f0f0f0;
  margin: 0;
}

#app {
  max-width: 480px;
  margin: 0 auto;
  background: white;
}

header {
  background: #D32F2F;
  color: white;
  padding: 10px;
  text-align: center;
}

.category, .item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: #fff;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* 戻るボタン用 */
.category.back-btn {
  background: #333;
  color: #fff;
  border-color: #000;
}
