/* body {
  background-color: #fefefe;
  font-family: "Yu Gothic", sans-serif;
} */

.menu-container {
  padding: 20px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.menu-item {
  background-color: #000; /* 黒背景 */
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.price {
  color: #fff;
  font-size: 18px;
  margin-top: 5px;
}

.name {
  color: #fff;
  font-size: 16px;
  margin-top: 2px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.prev, .next {
  background-color: #c00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
